/* body 태그 */
body {
	background-color: #FFFFCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #336699;
}

/* td, th 태그 */
td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

/* a 태그 */
a {
	font-size: 12px;
	color: #336600;
}

/* form 태그 */
form {
	background-color: #CCCC99;
}

/* title 태그 */
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #99CC00; color: #003333;}

/* header 태그 */
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #669900;
 color: #FFFF33;
}

/* nav 태그 */
.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #CCFF99;
}

/* navLink 태그 */
.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

/* footer 태그 */
.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCFF99;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-width: thin;
	border-color: #99FF99 #003300 #003300 #99FF99;
 border-style: double;
 }

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
 color: #660000; font-weight: bolder; font-size: medium;
 }

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
